[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "asdreader"]
	path = asdreader
	url = https://github.com/pierreroudier/asdreader
[submodule "clhs"]
	path = clhs
	url = https://github.com/pierreroudier/clhs
[submodule "dissever"]
	path = dissever
	url = https://github.com/pierreroudier/dissever
[submodule "hillshader"]
	path = hillshader
	url = https://github.com/pierreroudier/hillshader
[submodule "spectacles"]
	path = spectacles
	url = https://github.com/pierreroudier/spectacles
[submodule "spemd"]
	path = spemd
	url = https://github.com/pierreroudier/spemd
